<!DOCTYPE html>
<html>
<head>
    <title>Forms</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style type="text/css">
        .text {
            font-size: 16px;
            font-weight: bold;
        }
    </style>
</head>

<body>
<div class="container">
    <div>
        <label class="text">Name:</label>
        <!-- The input fields are stored in an array called 'names' -->
        <input type="text" name="names[]" class="nameValues">
        <!-- LOAD button for the first mini-form -->
        <button class="load">
            <span class="text">Load </span>
        </button>
    </div>
</div>

<!-- Button to add new forms -->
<div>
    <button class="add_form">
        <span class="text">+ </span>
    </button>
</div>

</body>

<script type="application/javascript">
    // Form to duplicate: LABEL + INPUT + LOAD BUTTON + DELETE BUTTON
    var htmlToDuplicate = 
    '    <div><label class="text">Name:</label>' +
    '      <input type="text" name="names[]" class="nameValues">' +
    '      <button class="load">' +
    '        <span class="text">Load </span>' +
    '      </button>' +
    '      <button class="delete">' +
    '        <span class="text">Delete </span>' +
    '      </button>' +
    '    </div>';

    // The 'accionCargar' function, called when clicking the LOAD button,
    // receives the value from the associated INPUT field in its 'value' argument
    function accionCargar(value) {
        alert('Loading....\nName: ' + value);
    }
    
    // The '$(document).ready(...)' executes once the DOM is fully loaded
    $(document).ready(function() {
        var wrapper = $(".container");
        var add_button = $(".add_form");

        // Callback function for the button that adds new mini-forms
        $(add_button).click(function(e) {
            e.preventDefault();
            // Add the new form
            $(wrapper).append(htmlToDuplicate);
            // Focus on the last added input field
            $(wrapper).last().find("input").focus();
        });

        // Callback function for the DELETE button, one for each mini-form (except the first)
        $(wrapper).on("click", ".delete", function(e) {
            e.preventDefault();
            $(this).parent('div').remove();
        });

        // Callback function for the LOAD button, one for each mini-form
        $(wrapper).on("click", ".load", function(e) {
            e.preventDefault();
            accionCargar($(this).siblings('input').val());
        });
    });

</script>
</html>
